.page-header{
  position: relative;
  background: url(../img/hand.png) no-repeat  0 30%,
 url(../img/back-mobile@1x.jpg) no-repeat 0 0 ;


background-size: 100%, 100% ;


}
.container--top{
  position: relative;

  &::after{
    content: "";

    position: absolute;
    width: 100vw;
    height: 65px;
    top: 0;
    left: 0;
    background-color: $darker-color-header;
  }
}
.page-header__wrapper{
  display: flex;
  flex-direction: column;
  position: relative;


}
.logo-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
  z-index: 10;

}
.toggle{
  display: block;
  cursor: pointer;
  width: 50px;
  height: 24px;
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;

}
.main-nav{
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  top: 65px;
  margin-left: -20px;
  background-color: $main-color;
  &__list{
    padding: 0;
    margin: 0;
  }
}
.site-list{

  &__item{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid black;
    border-top: 1px solid #485461;
    a{
    color: white;
    }
  }
}
.tablet,
.desktop{
  display: none;
}
.container--info{
  margin-top: 462px;
  background-color: $darker-color;
}
.info__download{
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logos{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  &--description{
    text-align: center;
  }
}
.button{

  border: 4px solid white;
  background-color: inherit;
  color: white;
  box-sizing: border-box;
  padding: 20px 0;
  border-radius: 30px;
}
.info__title{
  display: none;
}
@media (min-width: $tablet-width){
  .mobile,
  .desktop{
    display: none;
  }
  .tablet{
    display: block;
  }
  .page-header{

  background: url(../img/hand.png) no-repeat  50% 120%,
 url(../img/back-mobile@1x.jpg) no-repeat  50% 50%;


background-size: 470px, cover ;


  }
  .container--top{
    &::after{
      height: 100px;
    }
  }
  .container--info{

    margin-top: 100px;
    background-color: inherit;
  }
  .info__wrapper{
    width: 300px;
  }
  .info__title{
  display: block;
  text-align: center;
}
.info__download{
  padding-bottom: 110px;
}
.main-nav{
  top: 100px;
}
}

@media (min-width: $desktop-width){
  .mobile,
  .tablet
  {
    display: none;
  }
  .desktop{
    display: block;
  }
  .page-header__wrapper{
    flex-direction: row;
  }
  .main-nav{
    display: flex;
    padding-top: 21px;
  padding-bottom: 21px;
    position: static;
    margin-left: 170px;
    width: 100%;
    background-color: inherit;

  }
  .site-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item{
      border: none;
    }
  }
  .toggle{
    display: none;
  }
}

