.page-header{
  position: relative;
  background-color: $main-color;
  background: url(../img/hand.png) no-repeat  0 175px,
 url(../img/bg-back-mobile@2x.jpg) no-repeat 0 0 ;
  color: white;

background-size: 100%, cover ;
  margin-bottom: 45px;

}

.addition{
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  background-color: $darker-color-header;
}
.darkerbg{
  background-color: $main-color;
}
.page-header__wrapper{
  display: flex;
  flex-direction: column;
  position: relative;


}
.page-header__logo{
  &:hover{
  svg{
    path{
      fill: $pink-color;
    }
  }
}
}
.logo-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
  z-index: 10;

}
.toggle{
  display: block;
  cursor: pointer;
  width: 50px;
  height: 24px;
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  &:hover{
    svg{
      path{
        fill: $pink-color;
      }
    }
  }
}
.main-nav{
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  top: 65px;
  margin-left: -20px;
  background-color: $main-color;
  &__list{
    padding: 0;
    margin: 0;
  }
}
.site-list{
  a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    &:hover{
      color: $pink-color;
    }
    }
  &__item{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    list-style-type: none;
    border-bottom: 1px solid black;
    border-top: 1px solid #485461;


  }
}
.tablet,
.desktop{
  display: none;
}
.container--info{
  margin-top: 350px;
  background-color: $darker-color;
}
.info__download{
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logos{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  &--description{
    text-align: center;
  }
}
.button{
cursor: pointer;
  border: 4px solid white;
  background-color: transparent;
  color: white;
  box-sizing: border-box;
  padding: 20px 0;
  border-radius: 30px;
  font-weight: bold;
  &:hover{
    background-color: white;
    color: $pink-color;
  }
}
.info__title{
  display: none;
}
.none{
  display: none;
}
@media (min-width: $tablet-width){
  .mobile,
  .desktop{
    fill: #fff;
    display: none;
  }
  .tablet{
    display: block;
  }
  .page-header{

  background: url(../img/hand.png) no-repeat  50% 120%,
 url(../img/bg-back-tablet@2x.jpg) no-repeat  0 0;


background-size: 470px, cover ;


  }
  .addition{
    height: 100px;
  }
  .container--info{

    margin-top: 100px;
    background-color: inherit;
  }
  .info__wrapper{
    width: 300px;
  }
  .info__title{
  display: block;
  font-weight: normal;


  text-align: center;

  h2{
    font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  }
}
.info__download{
  padding-bottom: 110px;
}
.main-nav{
  top: 100px;
}
}

@media (min-width: $desktop-width){
  .page-header{

    background: url(../img/hand.png) no-repeat  50% 120%,
   url(../img/bg-back-desktop@2x.jpg) no-repeat  0 0;


  background-size: 470px, cover ;


    }
  .mobile,
  .tablet
  {
    display: none;
  }
  .desktop{
    display: block;
  }
  .page-header__wrapper{
    flex-direction: row;
  }
  .main-nav{
    display: flex;
    padding-top: 21px;
  padding-bottom: 21px;
    position: static;
    margin-left: 170px;
    width: 100vw;
    background-color: inherit;

  }
  .site-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item{
      border: none;
    }
  }
  .toggle{
    display: none;
  }
}

