.slider{
  position: relative;
}
.desktop__toggle{
  display: none;
}
.review{
  color: black;
  padding-top: 50px;

}
.item--flex{
  display: flex;
  flex-direction: column;
}
.review__title{
margin: 0;
}
.review__description{
  display: none;
  margin-top: 20px;
}
.review__message{
margin-top: 30px;
margin-bottom: 30px;
}
.review__list{

  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;

}


@media (min-width: $tablet-width){
  .review__message{
    order: -1;
  }
  .review__description{
    display: block;
  }
}
@media (min-width: $desktop-width){
  .review__toggles{
    display: none;
  }
  .desktop__toggle{

    display: block;
    position: absolute;
    top: 40px;
    width: 60px;
    height: 42px;
    font-size: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: 22px 41px;
    outline: none;
    cursor: pointer;
    z-index: 1;
    &--prev{
      left: 0;
      top: 50px;
    }
    &--next{
      right: 0;
      top: 50px;
    }
  }
  .active{
    display: block;
  }
  .review{
    padding-top: 200px;
    background-image: url(../img/quotes.svg);
    background-size: 80px 63px;
    background-repeat: no-repeat;
    background-position: 50% 80px;
  }
}
